.community-container {
  height: 100%;
  wdith: 100%;
  color: #E2DDB7;
  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow: auto;

  .header {
    width: 90%;
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    // align-items: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;

    p {
      padding: 0px 30px;
      margin: 5px;
    }
  }

  .custom-select {
    background-color: #F0EAD6;
    font-size: 15px;
    width: 160px;
    height: 30px;
    border: 0px solid #DD4132;
    color: #DD4132;
    border-radius: 0px;
    outline:none;
  }

  .category-info {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      text-align: center;
    }
  }
}
