@import url('https://fonts.googleapis.com/css?family=Oleo+Script:700|Playfair+Display:900|Trochut:700&display=swap');

.habit-and-progress {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 300px;
}

.habit-card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 2px solid white;
  width: 100%;
  background-color: #BD3D3A;

}

.delete-habit {
  padding-right: 0px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  // float: right;
  align-self: flex-end;
  background: transparent;
  border: 0px;
  cursor: pointer;
  &:hover {
    color: red;
    text-shadow: 2px 2px maroon;
  }
}

.actual-pie {
  color: white;
  font-size: 36px;
  fill: white;
}
