.habit-card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 2px solid white;

  width: 100%;
  // height: 40%;
  // margin: 20px 10px;
  background-color: #BD3D3A;

  text-align: center;

  .delete-habit {
    color: #FE840E;
    font-weight: bold;
    font-size: 20px;
    order: 0;
    align-self: flex-end;
    background: transparent;
    outline: none;
    border: 0px;
    cursor: pointer;
    // float: right;
  }
}
