@import url('https://fonts.googleapis.com/css?family=Oleo+Script:700|Playfair+Display:900|Trochut:700&display=swap');

.habit-and-progress {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  // width: 300px;
  // border: 2px solid #BD3D3A;
  border-radius: 20px 5px;
  color: #30180A;
}

.habit-card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;

}

.delete-habit {
  padding-right: 0px;
  color: #BD3D3A;
  font-weight: bold;
  font-size: 20px;
  align-self: flex-end;
  padding-right: 7px;
  background: transparent;
  border: 0px;
  cursor: pointer;
  &:hover {
    color: red;
    text-shadow: 2px 2px maroon;
  }
}

.actual-pie {
  font-size: 36px;
}
