.nav-bar-container {
  background-color: #DD4132;
  .nav-link-container {
    display: flex;
    justify-content: space-around;
    .nav-link {
      padding: 20px 0px;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      color: #F0EAD6;
      text-decoration: none;
      font-weight: bold;
      background-color: #DD4132;
      &:hover {
        background-color: #BD3D3A;
      }
    }
    .selected {
      background-color: chocolate;
    }
  }
}
