.pinned-post-item {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 2px solid white;
    margin: 20px 0px;
    padding: 20px 0px;
    color: white;

    .footer {
      align-self: flex-end;
      width: 40%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;

      .branch-btn {
        // align-self: center;
        font-weight: bold;
        color: white;
        font-size: 20px;
        background: #DD4132;
        border: 2px solid #DD4132;
        border-radius: 5px;
        // box-shadow: 4px 4px red;
        cursor: pointer;
        &:hover {
          color: white;
          background: #FE9A39;
          border: 2px solid #FE9A39;
        }
      }

      .pin-btn {
        font-weight: bold;
        font-size: 20px;
        color: white;
        background: #DD4132;
        border: 0px;
        // border: 2px solid #FE9A39;
        border-radius: 5px;
        // box-shadow: 2px 2px #FE9A39;
        cursor: pointer;
        &:hover {
          color: white;
          background: #FE9A39;
          border: 2px solid #FE9A39;
        }
      }

    }

  .title {
    width: 90%;
    font-weight: bold;
    font-size: 20px;
    }
  .content {
    width: 90%;
  }
}
