.user-posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    font-size: 15px;
    margin-bottom: 40px;
    &:hover, &:focus {
      background: maroon;
      outline: none;
    }
  }

  .pinned-posts-container {
    width: 70%;
    padding: 0px 100px;
    overflow: auto;
    padding:30px 100px;
    // border: 5px solid #DD4132;

  }
}
