.post-item {
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  // left: 30%;
  border: 2px solid white;
  margin: 20px 0px;
  padding: 20px 20px 0px 20px;

.title {
  width: 95%;
  font-weight: bold;
  }
.content {
  width: 95%;
}

.footer {
  width: 60%;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // justify-items: center;
  align-items: center;
}
  .buttons {
    display: flex;
    justify-content: flex-end;

    .branch-btn {
      font-weight: bold;
      color: white;
      font-size: 20px;
      background: black;
      border: 0px;
      // border: 2px solid red;
      border-radius: 5px;
      // box-shadow: 4px 4px red;
      cursor: pointer;
      &:hover {
        // background: chocolate;
        color: white;
      }
    }

    .pin-btn {
      font-weight: bold;
      font-size: 20px;
      color: white;
      background: #FE840E;
      border: 0px;
      // border: 2px solid grey;
      border-radius: 5px;
      // box-shadow: 4px 4px #888888;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }


  .author-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    align-items: baseline;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
