.profile-container {
  height: 100%;
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(60deg, #DD4132 50%, #FE9A39 100%);

  img {
    width: 100px;
    height: 100px;
    padding-bottom: 50px;
    // border-radius: 50%;
  }
}
